<div class="max-w-7xl mx-auto">
  <p class="text-6xl font-medium tracking-tighter">Better Mailer Previews <span class="text-xs font-light tracking-normal">v<%= BetterMailerPreviews::VERSION %></span></p>
  <div class="mt-4 grid grid-cols-4 gap-x-4 sticky top-8 z-10 border p-2 bg-gray-50/30 backdrop-blur-md w-fit rounded-sm">
    <% @urls_by_mailer.each do |mailer_name, urls| %>
      <%= link_to "▶ #{mailer_name.titleize}", "##{mailer_name}", class: "text-sm hover:underline" unless urls.empty? %>
    <% end %>
  </div>
  <% @urls_by_mailer.each do |mailer_name, urls| %>
    <% next if urls.empty? %>
    <div id=<%= mailer_name %> class="flex my-24">
      <p class="text-xl font-light w-64"><%= mailer_name.titleize %></p>
      <div class="border p-6 grid grid-cols-3 gap-x-8 gap-y-16">
        <% urls.each do |url| %>
          <div class="flex flex-col space-y-4 wrap">
            <iframe src=<%= url %> frameborder="0" class="frame border border-gray-300" loading="lazy"></iframe>
            <%= link_to "Preview #{url.split('/')[-2...].map { |segment| segment.split('_').map(&:capitalize).join }.join('.')} →", url.split('/')[-2...].join('/').prepend("/better_mailer_previews/"), class: "!-mt-[400px] hover:underline" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= render "footer" %>
</div>
